//- 画像パス
if PAGE_TYPE === 'top'
  - var IMG_PATH = "./assets/images/" + FILE_NAME + "/";
else if PAGE_TYPE === 'sub'
  - var IMG_PATH = "../assets/images/" + FILE_NAME + "/";
//- タイムスタンプ
//- - var DATE_NOW = Date.now();
//- //リンクパス
//- - var LINK_PATH = ""
