if PAGE_TYPE === 'top'
  link(rel="stylesheet" href="./assets/css/" + FILE_NAME + "/index.scss")
else if PAGE_TYPE === 'sub'
  link(rel="stylesheet" href="../assets/css/" + FILE_NAME + "/" + FILE_NAME + ".scss")
